<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
		<title>数学题生成器</title>
		<style type="text/css">
			.has-success .form-control {
				/*background-color: #5cb85c;*/
			}
			
			.has-error .form-control {
				background-color: #d9534f;
			}
			
			.to-top {
				position: fixed;
				top: 80%;
				right: 0;
				border: solid 1px #aaa;
				border-radius: 50%;
				cursor: pointer;
			}
			
			.to-top a {
				color: #333;
			}
			
			.to-top span {
				padding: 5px;
			}
			
			body {
				display: none;
			}
		</style>

	</head>

	<body>
		<span id="top"></span>

		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">生成器控制台</h3>
				</div>
				<div class="panel-body" id="topicTool">

					<form class="form-inline">
						<div class="form-group ">
							<label>生成题目数量</label>
							<input type="text" v-model='topicNum' class="form-control input-lg">
						</div>
						<div class="form-group">
							<label>生成题目范围</label>
							<input type="text" v-model='topicRange' class="form-control input-lg">
						</div>

					</form>
					<hr />
					<form>
						<label>选择题目类型</label>

						<div class="radio">
							<label>
								<input type="radio" v-model='topicType' value="jiajian" checked>加减法
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" v-model='topicType' value="chengchu">乘除法
							</label>
						</div>

					</form>
					<hr />
					<p>
						<button type="button" v-on:click='topicBuild' class="btn btn-danger btn-lg">开始生成</button>
					</p>

					<p>
						<button type="button" v-on:click='topicPost' class="btn btn-success btn-lg">提交题目</button>
					</p>

					<hr />
					<!--<div class="checkbox">
						<label>
							<input type="checkbox" v-model='isDebug'> 调试模式
						</label>
					</div>-->
					<h2>
						<span class="label label-success">对：{{trues}}</span>
						<span class="label label-danger">错：{{falses}}</span>
					</h2>

				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">

					<div class="row" id="topicBox">
						<div class="col-md-3"></div>
						<div class="col-md-3"></div>
						<div class="col-md-3"></div>
						<div class="col-md-3"></div>
					</div>

				</div>
			</div>

		</div>

		<div class="panel panel-default to-top">
			<a href="#top">
				<div class="panel-body">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</div>
			</a>
		</div>

		<script src="js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/javascript">
			var topicGroup = {}; //题目组

			var topicTool = new Vue({
				el: '#topicTool', //控制台id
				data: {
					topicNum: 20, //题目数量
					topicRange: 10, //题目范围
					trues: 0, //正确题目数量
					falses: 0, //错误题目数量
					topicType: 'jiajian', //题目类型
					isDebug: false
				},
				methods: {
					topicBuild: function() {
						//生成题目
						topicBuild();
					},
					topicPost: function() {
						//提交题目
						topicPost();
					}
				}
			});

			$('body').show();
			console.log(0 == 0);

			function topicPost() {

				topicTool.trues = 0;
				topicTool.falses = 0;

				for(x in topicGroup) {

					topicGroup[x].isFlase = false;
					topicGroup[x].isTrue = false;

					if(parseInt(topicGroup[x].userc) == parseInt(topicGroup[x].c)) {

						topicTool.trues++;
						topicGroup[x].isTrue = true;

					} else {

						topicTool.falses++;
						topicGroup[x].isFlase = true;

					}

				}

			}

			function topicBuild() {
				$('#topicBox').empty(); //添加到页面
				for(var i = 1; i <= topicTool.topicNum; i++) {
					//生成题目数量的循环
					buildElement(i); //装载组件

					var id = '#topic' + i;

					var topicApp = new Vue({
						el: id, //题目id
						data: {
							number: i, //题号
							a: getRanDom(1, topicTool.topicRange),
							b: getRanDom(1, topicTool.topicRange),
							c: 0,
							userc: '',
							type: getType(),
							typeTitle: '',
							isTrue: false,
							isFlase: false,

						},
					});

					buildApp(topicApp);
					topicGroup[id] = topicApp;
				}

			}

			function buildApp(topicApp) {
				//=========================
				//计算题目答案
				var a = parseInt(topicApp.a);
				var b = parseInt(topicApp.b);

				switch(topicApp.type) {
					case 'jia':

						topicApp.c = a + b;
						topicApp.typeTitle = '+';
						break;
					case 'jian':

						topicApp.c = a - b;
						topicApp.typeTitle = '-';
						break;
					case 'cheng':

						topicApp.c = a * b;
						topicApp.typeTitle = '*';
						break;
					case 'chu':

						topicApp.c = a / b;
						topicApp.typeTitle = '÷';
						break;
				}

				if(topicTool.isDebug == true) {

					topicApp.userc = topicApp.c;

				}

			}

			function buildElement(number) {

				//=========================
				//装载控件 
				var col = getCol(); //栅格
				var FormGroup = getFormGroup(number); //表单容器
				var TitleLabel = getTitleLabel(); //题目标题
				var Input = getInput(); //输入控件

				col.append(FormGroup); //栅格添加表单容器
				FormGroup.append(TitleLabel);
				FormGroup.append(Input);

				$('#topicBox').append(col); //添加到页面

			}

			function getCol() { //获得栅格
				var col = $('<div></div>');
				col.addClass('col-md-3');
				return col;
			}

			function getFormGroup(number) {

				var group = $('<div></div>');
				group.addClass('form-group ');
				group.attr('id', 'topic' + number);
				group.attr('v-bind:class', "{ 'has-success':isTrue,'has-error':isFlase }");
				return group;

			}

			function getTitleLabel() {
				//获得题目标题

				var label = $('<label></label>'); //标题的容器

				var numberSpan = $('<span></span>'); //题号
				numberSpan.addClass('label label-default');
				numberSpan.text('{{number}}');

				var titleSpan = $('<span></span>'); //题目
				titleSpan.addClass('label label-info');
				titleSpan.text('{{a}} {{typeTitle}} {{b}}=');

				//==========================

				label.append(numberSpan);
				label.append(titleSpan);

				return label;

			}

			function getInput() {
				//获得输入控件

				var Input = $('<input />');
				Input.addClass('form-control');
				Input.attr('v-model', 'userc');
				Input.attr('type', 'text');

				return Input;
			}

			function getType() {
				var mod = getRanDom(1, 2);
				if(topicTool.topicType == 'jiajian') {
					if(mod == 0) {
						return 'jia';
					}
					if(mod == 1) {
						return 'jian';
					}
				}
				if(topicTool.topicType == 'chengchu') {
					if(mod == 0) {
						return 'cheng';
					}
					if(mod == 1) {
						return 'chu';
					}
				}
			}
			//====================================

			function getRanDom(length, max) { //length 生成的随机数个数
				//max 每个随机数的范围
				var length = parseInt(length);
				var max = parseInt(max);
				var num = '';
				for(var i = 1; i <= length; i++) {
					num += parseInt(Math.random() * max);
				}
				return num;
			}
		</script>

	</body>

</html>